*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
}
h2{
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    padding: 20px;
}
.header-style {
    background: #1f2937;
}
.header{
    padding:20px;
    display: flex;
    flex-flow: row;
    flex-wrap: no-wrap;
    flex: 1 1 auto;
    justify-content: space-around;
    margin: 0vh 10vw;
    
}
.header-content{
    font-size: 24px;
    color: #F9FAF8;
}
.links {
    display: flex;
    gap: 20px;
}
.header-link{
    align-self: center;
    color: #E5E7Eb;
    
}
.hero-style {
    background: #1f2937;
}
.herobox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding: 10vh 10vw;
}
.boxleft{
    width: 400px;
}
.hero {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    
}
.hero-secondary {
    font-size: 18px;
    color: #E5E7Eb;
    
}
.button {
    background: #3882F6;
    border: none;
    border-radius: 10px;
    color: #E5E7Eb;
    padding: 10px 25px;
    text-align: center;
    font-size: 18px;
}
.boxright {
    align-self: center;
    color: white;
    background: grey;
    padding: 90px;
}
.information {
    padding: 20px;
}     

.box2 {
    display: flex;
    justify-content: center;
    gap: 60px;
    flex-wrap: wrap;
    padding: 5px 80px;
    
}
.box2-content {
    width: 120px;
    height: 120px;
    text-align: center;
    margin: 0;
}
.call-to-action {
    color:white;
    background: #3882F6;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
    padding: 40px;
    margin: 10vh 10vw;
    border-radius: 10px;

}
.quote-style {
    background: #E5E7EB;
}
.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E5E7EB;
    padding: 10vh 15vw;
    width: 800px;
    
}
.quote-content {
    font-style: italic;
    font-size: 36px;
    color: #1F2937; 
}
.quote-tag {
    align-self: flex-end;
}
.image {
    border: 2px solid #3882F6;
    border-radius:14px;
    color: #1F2937;
}