* {
    border: 2px solid red;
}
.header{
    padding:20px;
    margin: 10px;
    display: flex;
    flex-flow: row;
    flex-wrap: no-wrap;
    flex: 1 1 auto;
    justify-content: space-around;
}
.header-content{
    font-size: 20px;
}
.header-link{
    align-self: center;
    
}
.box1 {
    display: flex;
    width: 800px;
    flex: 1 1 auto;
}
.boxleft {
    display: flex;
    flex-direction: column;
}
.boxright {
    display: flex;
}

.box2 {
    display: flex;
    justify-content: center;
    gap: 190px;

}
.box2-content {
    width: 100px;
}
h2 {
    text-align: center;
}